html {
  margin-left: calc(100vw - 100%);
} 
body {
  /*width:100vw;*/
  font-family:Arial;
  overflow-x:hidden;
  overflow-y:hidden;
}
#wrapper{
  display: flex;
}

h2{
  padding: 3%;
  border-bottom:groove;
}

h3{
  margin-bottom: 3%;
}
.forside{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 30px;
  border: solid black 1px;
  padding: 1.5%;
}

header{
  border-bottom: 1px solid;
  box-shadow: 2px 2px 4px;
  padding: 2%;
  margin-bottom: 80px;
}

.forsidebtn {
  cursor: pointer;
  width: 45%;
  /*height: 60px;*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#test.forsidebtn{
  height:33.5px;
}

p {
  align-content: flex-start;
  /*margin-left: 20px;*/
}

.buss {
  align-content: flex-start;
  width: 600px;
}

img{
  position:absolute;
  left:790px;
  top: 300px;
}


.tog{
  width: 600px;
}

.betaling{
  width: 600px;
}

.helper{
  width: 500px;
}

.PaymentAnswers, .TrainAnswers, .BusAnswers {
  margin-left: 20px;
}

.BetalingSpørsmålP, .BussSpørsmålP, .TogSpørsmålP {
  border: solid black 1px;
  box-shadow: 0.2px 0.2px 2px;
  padding: 10px;
  cursor: pointer;
  margin-top :10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.forsidebtn {
}

  .forsidebtn:hover {
    color: darkgrey;
  }

.userSurvey{
  position: relative;
  padding:5px;
  margin:0px;
  margin-left: 10px;

}
    .userSurvey::after{
      content: "";
      height: 1px;
      width:60%;
      position:absolute;
      bottom: 0;
      left: 0;
      background-color: black;
    }

.userQuestion {
  display: flex;
  flex-direction:column;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-left: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  background-color:white;
}
#kryss1 {
  text-align: right;
}
textarea {
  resize: none;
}

#tommelOpp{
  margin-left: 5px;
}

#tommelNed{
  margin-left: 7.5px;
}

table{
  font-size:12px;
}
